<h2>Rolling a percentage</h2>
<gg-dice-roller #roller [diceArray]="diceArray"></gg-dice-roller>
<button (click)="doSomething()">Roll All</button>
<hr />
<h2>Rolling 2D6</h2>
<gg-dice-roller #roller2 [diceArray]="diceArray2"></gg-dice-roller>
<hr />
<h2>Rolling several different dice</h2>
<gg-die #die1 [sides]="6"></gg-die>
<gg-die #die2 [useImages]="true" [values]="images"></gg-die>
<gg-die #die3 [sides]="6" [values]="labels1"></gg-die>
<gg-die #die4 [values]="labels2"></gg-die>
<hr />
<h2>Using the api for rolling different dice</h2>
<button (click)="rollD6()">Roll D6</button>
<button (click)="roll2D6()">Roll 2D6</button>
<button (click)="rollD10()">Roll D10</button>
<button (click)="rollD7()">Roll D7</button>
<button (click)="rollD37()">Roll D37</button>

<pre>{{ results | json }}</pre>
